.container {
  max-width: 36rem;
  margin: 3rem auto 6rem;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.headingXL {
  font-size: 3rem;
  line-height: 1;
}

.listheading {
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 0 0 0.5rem;
  margin: 0;
}

.text {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbutton {
  padding: 0;
  margin: 0;
}

.background {
  background-color: aqua;
}

.listItem {
  margin: 0 0 1.25rem;
  padding: 0.5rem;
  background-color: aquamarine;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
}
