.container {
  max-width: 40rem;
  margin: 3rem auto 6rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.border {
  border-color: #ded8d8;
  border: solid;
  border-radius: 0.75rem;
  border-width: 0.25rem;
}
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.headingXL {
  font-size: 3rem;
  line-height: 1;
}

.listheading {
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 0 0 0.5rem;
  margin: 0;
}

.text {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 0 0 1rem;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
  }
}

.navbutton {
  padding: 0;
  margin: 0;
}

.button,
input {
  font-size: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  border: solid #ded8d8;
  border-radius: 0.75rem;
  border-width: 0.125rem;
  background-color: white;
  transition: all 250ms;
}

.button:hover {
  background-color: #ded8d8;
  transition: all 250ms;
}

input[type="submit"]:hover {
  background-color: #ded8d8;
  transition: all 250ms;
  color: #434141;
}

.background {
  background-color: aqua;
}

.listItem {
  margin: 0 0 1.25rem;
  padding: 0.5rem;
}

.list {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

.form {
  margin: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 15rem;
}

.text-dark {
  color: #434141;
}

.text-light {
  color: #6f6c6c;
}

@media only screen and (min-width: 1920px) {
  body,
  html {
    font-size: 30px;
  }
}

@media only screen and (min-width: 2560px) {
  body,
  html {
    font-size: 40px;
  }
}

@media only screen and (min-width: 3840px) {
  body,
  html {
    font-size: 50px;
  }
}
